# Compilation files
*.pyc
README.html
site/purse/public
site/bootstrap/static
site/tracker/static/js/d3*js

# Editors files
*~
.#*
*#
*_flymake*

# Translations
*.mo

# Coverage
site/.coverage
site/htmlcov

# Fabric
fabfile.py

# Archives
archives/
