html, body {
    height: 100%;
}

body {
    padding-top: 70px;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#footer {
    background-color: #f5f5f5;
    height: 60px;
}

#footer p {
    margin: 20px 0;
}

:lang(fr) > q {
    quotes: '«' '»' '"' '"';
}

:lang(fr) > q:before {
    content: open-quote;
    padding-right: 0.125em;
}

:lang(fr) > q:after {
    content: close-quote;
    padding-left: 0.125em;
}

.header-detail {
    vertical-align: middle;
}

td.date{
    text-align: left;
}

td.amount,
td.average,
td.delta,
td.count {
    text-align: right;
}

th.date,
th.amount,
th.month
th.author {
    width: 20%;
}

tr.total {
    font-weight: bold;
}

#filter {
    margin-bottom: 2ex;
}

a.ribbon {
    top: 3em;
    right: -3em;
    color: black;
    z-index: 5000;
    padding: 0.4em 2em 0.4em;
    position: absolute;
    text-decoration: none;
    background-color: yellow;
    box-shadow: 0 0 1em white;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

a.ribbon:hover {
    box-shadow: none;
    text-decoration: underline;
}

#histogram-container {
    display: none;
}

.list-group-item-text.expenditure-description {
    min-height: 1.5em;
}

.list-group-item-text > span.amount {
    font-weight: bold;
}
