div#header {
    background: lightgreen;
    padding: 5px;    
}

div#header-content {
    font-family: sans-serif;
    position: relative;
}

div#branding {
    font-size: 20pt;
    font-weight: bold;
}

div#quote {
    font-family: serif;
    font-size: 10pt;
    font-style: italic;
    padding: 5px;
}

div#user-tools {
    font-size: 10pt;
    padding: 5px;
}

div#content {
    position: relative;
    margin: 10px;
}


div#navigation {
    font-family: sans-serif;
    font-size: 10pt;
    width: 100%;
    height: 15px;
}

div#navigation div.left {
    float: left;
    text-align: left;
    width: 25%;
}

div#navigation div.center {
    float: left;
    text-align: center;
    width: 50%;    
}

div#navigation div.right {
    float: left;
    text-align: right;
    width: 25%;
}

div#main {
    position: absolute;
    left: 0;
}

/* input[type="submit"] { */
/*     display: none; */
/* } */

body {
    margin: 0px;
}

table {
    font-size: 10pt;
    border-collapse:collapse;
}

h2 {
    display: none;
}

a {
    text-decoration: none;
}

td,
th {
    border: 1px solid black;
    padding: 5px;
}

th {
    background: lightgray;
}


#expenditures-table {
    width: 100%;
}

#expenditures-table caption {
    font-style: italic;
    font-weight: bold;
    font-size: 10pt;
    text-align: left;
}

#expenditures-table td.date{
    text-align: left;
}

#expenditures-table td.amount {
    text-align: right;
}

#expenditures-table td.author {
    text-align: center;
}

#expenditures-table th.date,
#expenditures-table th.amount,
#expenditures-table th.author {
    width: 20%;
}

span.helptext {
    display: none;
}

fieldset p {
    clear: both;
}

label {
    text-align: right;
    /* font-weight: bold; */
    width: 25%;
    float: left;
    padding: 0 1em 0 0;
}

.error {
    font-size: 10pt;
    font-weight: bold;
    color: #8b008b;
}

.current-page {
    font-weight: bold;
}
