div#header {
    background: lightgreen;
    padding: 5px;    
}

div#header-content {
    font-family: sans-serif;
    position: relative;
}

div#branding {
    font-size: 20pt;
    font-weight: bold;
}

div#quote {
    font-family: serif;
    font-size: 10pt;
    font-style: italic;
    padding: 5px;
}

div#user-tools {
    font-size: 10pt;
    padding: 5px;
}

div#content {
    position: relative;
    margin: 10px;
}

#toolbar {
    list-style: none;
    font-family: sans-serif;    
    font-weight: bold;
    font-size: 10pt;
    margin: 0px 0px 5px 0px;
    padding: 0px;
    float: left;
    width: 100%;
}

#toolbar li {
    float: left;
    margin-right: 10px;
    position: relative;
}

#toolbar a {
    display: block;
    padding: 5px;
    background: white;
    text-decoration: none;
}

#toolbar a:hover {
    background: white;
    text-decoration: underline;
}

#toolbar ul {
    background: white;
    list-style: none;
    position: absolute;
    left: -9999px;
    opacity: 0.9;
    padding: 0px;
    border: 1px gray solid;    
}

#toolbar ul li {
    padding: 0px;
    float: none;
}
#toolbar ul a {
    white-space: nowrap;
}

#toolbar li:hover ul {
    left: 0;
}

#toolbar li:hover a { 
    background: white;
    text-decoration: underline;
}

#toolbar li:hover ul a {
    background: white;    
    text-decoration: none;
}

#toolbar li:hover ul li a:hover {
    background: white;
    text-decoration: underline;    
}

div#main {
    position: absolute;
    left: 0;
}

/* input[type="submit"] { */
/*     display: none; */
/* } */

body {
    margin: 0px;
}

table {
    border-collapse:collapse;
}

h2 {
    display: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


td,
th {
    border: 1px solid black;
    padding: 5px;
}

th, tfoot {
    background: lightgray;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 10pt;
}

#expenditures-table {
    width: 100%;
}

caption {
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 10pt;
    text-align: left;
}

#expenditures-table td.date{
    text-align: left;
}

#expenditures-table td.amount {
    text-align: right;
}

#expenditures-table td.author {
    text-align: center;
}

#expenditures-table th.date,
#expenditures-table th.amount,
#expenditures-table th.author {
    width: 20%;
}

span.helptext {
    display: none;
}

fieldset {
    border: none;
}

fieldset p {
    clear: both;
}

label {
    text-align: left;
    font-weight: bold;
    font-size: 10pt;
    font-family: sans-serif;
    float: left;
    padding: 0 1em 0 0;
}

.errors {
    font-size: 10pt;
    font-weight: bold;
    color: #8b008b;
}

.current-page {
    font-weight: bold;
}
