#histogram-container, #tags-container {
    display: none;
}

#histogram-container > svg {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar-amount {
    fill: #BA3482;
}

.bar-average {
    fill: #BABABA;
}
