{% load i18n static %}<!DOCTYPE html>
<html lang={{ LANGUAGE_CODE }}>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    {% block title %}
    <title>{{ "porte-monnaie"|capfirst }}</title>
    {% endblock %}
    <script type="text/javascript" src="{% static 'js/tracker.js' %}"></script>
    <style>
      @import "{% static 'css/base.css' %}";
    </style>
  </head>
  <body>
    <div id="app-layout">
      <div id="header" class="small">
	<div id="branding">
	  {% block header %}
	  <a id="branding-link"
	     href="{% url 'tracker:home' %}"
	     title="{% trans 'Love without counting' %}">
	    {{ "porte-monnaie"|capfirst }}
	  </a>
	  {% endblock %}
	</div>
	<div id="header-content">
	  <div id="user-tools">
	    {% block usertools %}
	    {% if user.username %}
	    <ul class="menu-container">
	      <li class="left">{% trans 'Welcome,' %}&nbsp;
	      </li>
	      <li id="user-button" class="left menu-drop-down">
		<a href="#" 
		   onclick="Tracker.toggleMenu('user_menu')"
		   title="{% trans 'Manage user account' %}">
		  {% filter force_escape %}
		  {% firstof user.first_name user.username %}.
		  {% endfilter %}
		</a>
		<ul id="user-menu" class="menu">
		  <li class="left">
		    <a href="{% url 'tracker:user_change' %}">
		      {% trans 'edit user data'|capfirst %}
		    </a>
		  </li>
		  <li class="left">
		    <a href="{% url 'tracker:password_change' %}">
		      {% trans 'change password'|capfirst %}
		    </a>
		  </li>
		  <li class="left">
		    <a id="list-purses" href="{% url 'tracker:purse_list' %}"
		       title="{% trans 'manage user purses' %}">
		      {% trans 'manage purses'|capfirst %}
		    </a>
		  </li>
		  <li class="left">
		    <a id="logout" href="{% url 'tracker:logout' %}">
		      {% trans 'log out'|capfirst %}
		    </a>
		  </li>
		</ul>
	      </li>
	    </ul>
	    {% endif %}
	    {% endblock %}
	  </div>
	</div>
      </div>
      <div id="content">
	{% block content %}{% endblock %}
      </div>
      <div id="footer" class="small">
	{% block footer %}
	<p class="left">
	  copyright © Matthias Meulien 2013
	</p>
	<p class="right">
	  {% blocktrans with link='<a href="https://www.djangoproject.com/">Django</a>' %}Powered by {{ link }}{% endblocktrans %}
	</p>
	{% endblock %}
      </div>
    </div>
    {% block scripts %}{% endblock %}
  </body>
</html>
