{% load i18n tracker_extras static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}
    <title>{{ 'porte-monnaie'|capfirst }}</title>
    {% endblock %}
    <link rel="stylesheet" 
	  href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link href="{% static 'css/base.css' %}" 
	  rel="stylesheet">
  </head>
  <body>
    <div id="wrap">
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" 
		    data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
	    </button>
	    <a id="branding-link" class="navbar-brand"
	       href="{% url 'tracker:home' %}"
	       title="{% trans 'Love without counting' %}">
	      {{ "porte-monnaie"|capfirst }}
	    </a>
	  </div>
	  <div class="navbar-collapse collapse">
	    <ul class="nav navbar-nav">
	      {% block add %}{% endblock %}
	      {% block navigate %}{% endblock %}
	      {% block filter %}{% endblock %}
	    </ul>
	    {% block parameters %}{% endblock %}
	  </div>
	</div>
      </div>
      <div class="container">
	<div class="page-header">
	  {% block header %}{% endblock %}
	</div>
	{% block content %}{% endblock %}
      </div>
    </div>

    <div id="footer">
      <div class="container">
	<p class="pull-left">
	  copyright © {% email_admin %} 2013
	</p>
	<p class="pull-right">
	  {% blocktrans with link='<a href="https://www.djangoproject.com/">Django</a>' %}Powered by {{ link }}{% endblocktrans %}
	</p>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <!--     <script src="{% static 'js/tracker.js' %}"></script> -->
    <!--     {% block scripts %}{% endblock %} -->
  </body>
</html>
