{% extends "tracker/base.html" %}
{% load i18n tracker_extras table %}
{% block content %}
{% is_current_month month as is_current %}
<div id="navigation">
  <div class="left">
    <a href='{% archive_url previous_month %}'
       title='{% trans "View previous month expenditures" %}'>
      {% trans "previous"|capfirst %}
    </a>
  </div>{% if not is_current %}
  <div class="center">
    <a href={% url "tracker:list" %}
       title='{% trans "View current month expenditures" %}'>
      {% trans "current"|capfirst %}
    </a>
  </div>
  <div  class="right">
    <a href='{% archive_url next_month %}'
       title='{% trans "View next month expenditures" %}'>
      {% trans "next"|capfirst %}
    </a>
  </div>{% endif %}
</div>
<div id="main">{% if expenditures %}{% if is_current %}
  <p>
    <a id="add-expenditure" href={% url "tracker:add" %}>{% blocktrans %}Add a new expenditure...{% endblocktrans %}</a>
  </p>
  <p>
    {% blocktrans with date=month|date:"E Y" total=total_amount|floatformat:2 user=user_amount|floatformat:2 %}In {{ date }}, the current amount of expenditures is equal to {{ total}}€; You authored {{ user }}€.{% endblocktrans %}
  </p>{% else %}
  <p>
    {% blocktrans with date=month|date:"E Y" total=total_amount|floatformat:2 user=user_amount|floatformat:2 %}In {{ date }}, the total amount of expenditures was equal to {{ total}}€; You authored {{ user }}€.{% endblocktrans %}
{% endif %}
  </p>
  <table id="expenditures-table">
    {% table_header field_names %}
    <tbody>{% for obj in object_list %}
      <tr>
	<td title="{{ obj.date }}" class="{{ date }}">
	  {{ obj.date }}
	</td>
	<td title="{{ obj.amount }}" class="{{ amount }}">
	  {{ obj.amount|floatformat:2 }}
	</td>{% with user=obj.author %}
	<td title="{% firstof user.first_name user.username %}" class="{{ author }}">
	  {% firstof user.first_name user.username %}
	</td>{% endwith %}
	<td title="{{ obj.description }}" class="{{ description }}">
	  {{ obj.description|capfirst }}
	</td>
      </tr>{% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>
    {% blocktrans with date=month|date:"E Y" %}No expenditures found for {{ date }}
!{% endblocktrans %}{% if is_current %}
<a id="add-expenditure" href={% url "tracker:add" %}>{% blocktrans %}Add a new expenditure...{% endblocktrans %}</a>{% endif %}
  </p>
</div>
{% endif %}
{% endblock %}
