{% extends 'tracker/base.html' %}
{% load i18n tracker_extras table humanize %}
{% block content %}
{% is_current_month month as is_current %}
{% is_current_month next_month as is_next_current %}
<div id="main">
  <ul id="toolbar" class="left small menu-container">
    <li class="left menu-drop-down">
      <a href="#" 
	 onclick="Tracker.toggleMenu('browse-menu')"
	 title="{% trans 'Browse other months expenditures' %}">
	{% trans 'browse'|capfirst %}
      </a>
      <ul id="browse-menu" class="menu">
	<li class="left">
	  <a href="{% previous_month_url %}"
	     title="{% trans 'View previous month expenditures' %}">
	    {% trans 'previous month'|capfirst %}
	  </a>
	</li>
	{% if not is_next_current %}
	<li class="left">
	  <a href="{% next_month_url %}"
	     title="{% trans 'View next month expenditures' %}">
	    {% trans 'next month'|capfirst %}
	  </a>
	</li>
	{% endif %}
	{% if not is_current %}
	<li class="left">
	  <a href="{% current_month_url %}"
	     title="{% trans 'View current month expenditures' %}">
	    {% trans 'current month'|capfirst %}
	  </a>
	</li>
	{% endif %}
	<li class="left">
	  <a href="{% current_year_url %}">
	    {% trans 'Yearly report'|capfirst %}
	  </a>
	</li>
      </ul>
    </li>
    <li class="left">
      <a id="add-expenditure" href="{% url 'tracker:add' %}"
	 title="{% trans 'Add a new expenditure' %}">
	{% trans 'add'|capfirst %}
      </a>
    </li>
  </ul>
  {% if expenditures %}
  <p>
    {% if is_current %}
    {% blocktrans with date=month|date:'YEAR_MONTH_FORMAT' total=total_amount|floatformat:2 %}In {{ date }}, the current amount of expenditures is equal to {{ total }}€.{% endblocktrans %}
    {% else %}
    {% blocktrans with date=month|date:'YEAR_MONTH_FORMAT' total=total_amount|floatformat:2 %}In {{ date }}, the total amount of expenditures was equal to {{ total }}€.{% endblocktrans %}
    {% endif %}
    {% if user_amount and shared_purse %}
    {% blocktrans with user=user_amount|floatformat:2 %}You authored {{ user }}€.{% endblocktrans %}
    {% endif %}
  </p>
<div class="right">
  {% include 'tracker/filter.html' %}
</div>
  <table id="expenditures-table">
    <caption class="small">
      {% blocktrans with date=month|date:'YEAR_MONTH_FORMAT' %}Expenditures of {{ date }}.{% endblocktrans %}
    </caption>
    {% table_header field_names %}
    {% table_footer field_names %}
    <tbody>
      {% for e in expenditures %}
      <tr class={% cycle 'odd' 'even' %}>
	<td title="{{ e.date|date:'DATE_FORMAT' }}" class="date">
	  {{ e.date|naturalday:'l j' }}
	</td>
	<td title="{{ e.amount|floatformat:2 }}" class="amount">
	  {{ e.amount|floatformat:2 }}
	</td>
	{% with user=e.author %}
	<td title="{% firstof user.first_name user.username %}" class="author">
	  {% firstof user.first_name user.username %}
	</td>
	{% endwith %}
	<td title="{{ e.description|capfirst }}" class="description">
	  {{ e.description|capfirst }}
	  {% if user.username == e.author.username and e.is_editable %}
	  <a href="{% url 'tracker:update' e.pk %}" class="right small"
	     title="{% blocktrans count days=edit_delay %}Your expenditures can be updated the day of their creation{% plural %}Your expenditures can be updated for {{ days }} days after their creation{% endblocktrans %}">
	    {% trans 'edit' %}
	  </a>
	  {% endif %}
	</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>
    {% blocktrans with date=month|date:'YEAR_MONTH_FORMAT' %}No expenditures found for {{ date }}!{% endblocktrans %}
  </p>
  {% endif %}
</div>
{% endblock %}
{% block scripts %}
{{ block.super }}
<script type="text/javascript">
    Tracker.focus('add-expenditure');
</script>
{% endblock %}
