{% extends 'tracker/base_authentified.html' %}
{% load i18n tracker_extras table humanize %}
{% is_current_month month as is_current %}

{% block header_content %}
<h2>{{ month|date:'YEAR_MONTH_FORMAT'|capfirst }}</h2>
{% endblock header_content %}

{% block content %}
<div id="pager">
  <small>
    <ul class="pager">
      <li class="previous">
	<a href="{% url 'tracker:archive' previous_month.year previous_month.month %}">
	  &larr;<span class="hidden-xs"> {% trans 'previous'|capfirst %}</span>
	</a>
      </li>
      <li class="next">
	<a href="{% url 'tracker:archive' next_month.year next_month.month %}">
	  <span class="hidden-xs">{% trans 'next'|capfirst %} </span>&rarr;
	</a>
      </li>
    </ul>
  </small>
</div>
<div id="main">
  {% if expenditures %}
  <p>
    {% if is_current %}
    {% blocktrans with date=month|date:'YEAR_MONTH_FORMAT' total=total_amount|floatformat:2 %}In {{ date }}, the current amount of expenditures is equal to {{ total }}€.{% endblocktrans %}
    {% else %}
    {% blocktrans with date=month|date:'YEAR_MONTH_FORMAT' total=total_amount|floatformat:2 %}In {{ date }}, the total amount of expenditures was equal to {{ total }}€.{% endblocktrans %}
    {% endif %}
    {% if user_amount and shared_purse %}
    {% blocktrans with user=user_amount|floatformat:2 %}You authored {{ user }}€.{% endblocktrans %}
    {% endif %}
  </p>
  {% include 'tracker/snippets/expenditure_table.html' %}
  {% include 'tracker/snippets/expenditure_list.html' %}
  {% else %}
  <div class="alert alert-warning">
    {% blocktrans with date=month|date:'YEAR_MONTH_FORMAT' %}No expenditures found for {{ date }}!{% endblocktrans %}
  </div>
  {% endif %}
</div>
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
  $(document).ready(function() {
    Tracker.activateParent('browse');
    Tracker.focus('add-btn');
  });
</script>
{% endblock scripts %}
