{% extends 'tracker/base_authentified.html' %}
{% load i18n %}

{% block parameters %}
<ul class="nav navbar-nav navbar-right">
  {% include 'tracker/nav_parameters.html' %}
</ul>
{% endblock parameters %}

{% block header_content %}
<h2>
{% if expenditure %}
{% trans 'edit expenditure'|capfirst %}
{% else %}
{% trans 'add expenditure'|capfirst %}
{% endif %}
</h2>
{% endblock header_content %}

{% block content %}
<form id="expenditure-form" class="form-horizontal"
      role="form"
      action="" method="post">{% csrf_token %}
  {% include 'tracker/form_errors.html' %}
  {% include 'tracker/fieldset.html' %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="{% trans 'save'|capfirst %}"
	     class="btn btn-primary">
      {% if expenditure %}
      <a href="{% url 'tracker:delete' expenditure.pk %}"
	 class="btn btn-default">
	{% trans 'delete'|capfirst %}
      </a>
      {% else %}
      <input type="submit" value="{% trans 'continue'|capfirst %}"
	     name="save_other"
	     class="btn btn-default">
      {% endif %}
    </div>
  </div>
</form>
{% endblock %}

{% block scripts %}
{{ super.block }}
<script type="text/javascript">
  $(document).ready(function() {
    Tracker.focus('id_amount');
  });
</script>
{% endblock %}
