{% extends 'tracker/base_authentified.html' %}
{% load i18n tracker_extras table humanize %}
{% is_current_month month as is_current %}

{% block header_content %}
<h2>{{ month|date:'YEAR_MONTH_FORMAT'|capfirst }}</h2>
{% endblock header_content %}

{% block content %}
<div id="pager">
  <small>
    <ul class="pager">
      <li class="previous">
	<a href="{% url 'tracker:archive' previous_month.year previous_month.month %}">
	  &larr;<span class="hidden-xs"> {% trans 'previous'|capfirst %}</span>
	</a>
      </li>
      <li class="next">
	<a href="{% url 'tracker:archive' next_month.year next_month.month %}">
	  <span class="hidden-xs">{% trans 'next'|capfirst %} </span>&rarr;
	</a>
      </li>
    </ul>
  </small>
</div>
<div id="main">
  {% if expenditures %}
  <p>
    {% if is_current %}
    {% blocktrans with date=month|date:'YEAR_MONTH_FORMAT' total=total_amount|floatformat:2 %}In {{ date }}, the current amount of expenditures is equal to {{ total }}€.{% endblocktrans %}
    {% else %}
    {% blocktrans with date=month|date:'YEAR_MONTH_FORMAT' total=total_amount|floatformat:2 %}In {{ date }}, the total amount of expenditures was equal to {{ total }}€.{% endblocktrans %}
    {% endif %}
    {% if user_amount and shared_purse %}
    {% blocktrans with user=user_amount|floatformat:2 %}You authored {{ user }}€.{% endblocktrans %}
    {% endif %}
  </p>
  <div class="table-responsive">
    <table class="table table-hover table-bordered table-striped">
      {% table_header field_names %}
      <tbody>
	{% for e in expenditures %}
	<tr>
	  <td class="date">
	    {{ e.date|naturalday:'l j' }}
	  </td>
	  <td class="amount">
	    {{ e.amount|floatformat:2 }}
	  </td>
	  {% with user=e.author %}
	  <td class="author">
	    {% firstof user.first_name user.username %}
	  </td>
	  {% endwith %}
	  <td class="description">
	    {{ e.description|capfirst }}
	    {% if user.username == e.author.username and e.is_editable %}
	    <a href="{% url 'tracker:update' e.pk %}">
	      <span class="badge pull-right">
		<span class="glyphicon glyphicon-pencil"></span>
	      </span>
	    </a>
	    {% endif %}
	  </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
    {% pagination %}
  </div>
  {% else %}
  <p>
    {% blocktrans with date=month|date:'YEAR_MONTH_FORMAT' %}No expenditures found for {{ date }}!{% endblocktrans %}
  </p>
  {% endif %}
</div>
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
var activeTool = document.getElementById('browse');
if (activeTool != null) {
   activeTool.parentNode.className += 'active';
}
</script>
{% endblock scripts %}
