{% extends 'tracker/base_authentified.html' %}
{% load i18n tracker_extras table humanize %}

{% block header_content %}
<h2>{% trans 'Expenditure search' %}</h2>
{% endblock header_content %}

{% block content %}
<div id="main">
  {% include 'tracker/filter.html' %}
  {% if expenditures %}
  {% if filter %}
  <div>
    {% blocktrans count count=paginator.count with total=total_amount|floatformat:2 %}Found one expenditure for an amount of {{ total }}€.{% plural %}Found {{ count }} expenditures for an amount of {{ total }}€.{% endblocktrans %}
    {% if user_amount and shared_purse %}
    {% blocktrans with user=user_amount|floatformat:2 %}You authored {{ user }}€.{% endblocktrans %}
    {% endif %}
    {% endif %}
  </div>
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      {% table_header field_names %}
      <tbody>
	{% for e in expenditures %}
	<tr>
	  <td class="date">
	    {{ e.date|naturalday:'l j F Y'|capfirst }}
	  </td>
	  <td class="amount">
	    {{ e.amount|floatformat:2 }}
	  </td>
	  {% with user=e.author %}
	  <td class="author">
	    {% firstof user.first_name user.username %}
	  </td>
	  {% endwith %}
	  <td class="description">
	    {{ e.description|capfirst }}
	    {% if user.username == e.author.username and e.is_editable %}
	    <a href="{% url 'tracker:update' e.pk %}">
	      <span class="badge pull-right">
		<span class="glyphicon glyphicon-pencil"></span>
	      </span>
	    </a>
	    {% endif %}
	  </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
    {% pagination %}
  </div>
  {% else %}
  <div class="alert alert-warning">
    {% trans 'No expenditures found!' %}
  </div>
  {% endif %}
</div>
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
  $(document).ready(function() {
    Tracker.activateParent('search');
    Tracker.focus('id_filter');
  });
</script>
{% endblock scripts %}
