{% extends "tracker/base.html" %}
{% load i18n table %}
{% block content %}<h2>{% trans "expenditures"|capfirst %}</h2>
{% if expenditures %}<p>
  <a id="add-expenditure" href={% url "tracker:add" %}>{% blocktrans %}Add a new expenditure...{% endblocktrans %}</a>
  <table id="expenditures-table">
    {% table expenditures field_names %}
  </table>
</p>{% else %}<p>{% blocktrans %}No expenditures yet!{% endblocktrans %}
  <a id="add-expenditure" href={% url "tracker:add" %}>
    {% blocktrans %}Go ahead...{% endblocktrans %}
  </a>
</p>{% endif %}{% endblock %}
{% block scripts %}
{{ block.super }}
<script type="text/javascript">
  document.getElementById('add-expenditure').focus();
</script>
{% endblock %}
