{% extends 'tracker/base.html' %}
{% load i18n %}
{% block content %}
<h2>{% trans 'edit expenditure'|capfirst %}</h2>
{% if form.errors %}
<p class="errornote">
  {% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
</p>
{% endif %}
<form id="expenditure-form"
      action=""
      method="post">{% csrf_token %}
  {% include "tracker/form_errors.html" %}
  <fieldset>
    {% for field in form.visible_fields %}
    <p>
      <label for="id_{{ field.name }}">
	{{ field.label }}
      </label>
      <br>
      {{ field }}
      {% if field.errors %}
      <span class="errors">
	{% for error in field.errors %}
	{{ error }}
	{% endfor %}
      </span>
      {% endif %}
      <br>
      <span class="helptext">
	{{ field.help_text|capfirst }}
      </span>
      {% if field.name == "description" and tagnames|length > 10 %}
      <div class="tags">
	{% for name in tagnames %}
	<a class="tag">{{ name }}</a>
	{% endfor %}
      </div>
      {% endif %}
      {% endfor %}
  </fieldset>
  <input type="submit" value="{% trans 'save'|capfirst %}">
  {% if expenditure %}
  {% trans 'or' %} <a href="{% url 'tracker:delete' expenditure.pk %}">
    {% trans 'delete' %}
  </a>
  {% endif %}
</form>
{% endblock %}
{% block scripts %}
{{ block.super }}
<script type="text/javascript">
  Tracker.focus('id_amount');
  Tracker.listenToTags('id_description');
</script>
{% endblock %}
