{% extends 'tracker/base_authentified.html' %}
{% load i18n tracker_extras table humanize static %}
{% is_current_year year as is_current %}

{% block style %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/graph.css' %}">
{% endblock style %}

{% block header_content %}
<h2>{% blocktrans with date=year|date:'Y' %}Report for {{ date }}{% endblocktrans %}</h2>
{% endblock header_content %}

{% block content %}
<div id="pager">
  <small>
    <ul class="pager">
      <li class="previous">
	<a href="{% url 'tracker:summary' previous_year.year %}">
	  &larr;<span class="hidden-xs"> {% trans 'previous'|capfirst %}</span>
	</a>
      </li>
      <li class="next">
	<a href="{% url 'tracker:summary' next_year.year %}">
	  <span class="hidden-xs">{% trans 'next'|capfirst %} </span>&rarr;
	</a>
      </li>
    </ul>
  </small>
</div>
<div id="main">
  {% if amounts %}
  <p>
    {% if is_current %}
    {% blocktrans %}The following table outlines your expenditures for the current year.{% endblocktrans %}
    {% else %}
    {% blocktrans with date=year|date:'Y' %}The following table outlines your expenditures for {{ date }}.{% endblocktrans %}
    {% endif %}
  </p>
  <div class="table-responsive hidden-xs">
    <table class="table table-hover table-striped">
      <thead>
	<tr>
	  <th class="month">
	    {% trans 'month'|capfirst %}
	  </th>
	  <th class="amount">
	    {% trans 'amount'|capfirst %}
	  </th>
	  {% if shared_purse %}
	  <th class="average">
	    {% trans 'average'|capfirst %}
	  </th>
	  <th class="delta">
	    {% trans 'delta'|capfirst %}
	  </th>
	  {% endif %}
	</tr>
      </thead>
      <tbody>
	{% for a in amounts %}
	<tr>
	  <td class="month">
	    <a class="month-anchor" 
	       href="{% url 'tracker:archive' year=year.year month=a.month.month %}">
	      {{ a.month|date:'F'|capfirst }}
	    </a>
	  </td>
	  <td class="amount">
	    {{ a.amount|floatformat:2 }}
	  </td>
	  {% if shared_purse %}
	  <td class="average">
	    {{ a.average|floatformat:2 }}
	  </td>
	  <td class="delta">
	    {{ a.delta|floatformat:2 }}
	  </td>
	  {% endif %}
	</tr>
	{% endfor %}
	<tr class="total">
	  <td>
	    {% trans 'totals'|capfirst %}
	  </td>
	  <td class="amount">
	    {{ totals.amount|floatformat:2 }}
	  </td>
	  {% if shared_purse %}
	  <td class="average">
	    {{ totals.average|floatformat:2 }}
	  </td>
	  <td class="delta">
	    {{ totals.delta|floatformat:2 }}
	  </td>
	  {% endif %}
	</tr>
      </tbody>
    </table>
  </div>
  <div class="list-group visible-xs">
    {% for a in amounts %}
    <div class="list-group-item">
      <h4 class="list-group-heading">{{ a.month|date:'F'|capfirst }}
	<a class="month-anchor small" 
	   href="{% url 'tracker:archive' year=year.year month=a.month.month %}">
	  {% trans 'display'|capfirst %}
	</a>
      </h4>
      <p class="list-group-item-text expenditure-description">
	{% trans 'delta:'|capfirst %} {{ a.delta|floatformat:2 }}
	<span class="pull-right amount">{{ a.amount|floatformat:2 }}</span>
      </p>
    </div>
    {% endfor %}
  </div>
    <div class="row">
      <div id="histogram-container" 
	   class="hidden-xs hidden-sm col-md-12 col-lg-6">
	<h2>{% trans 'histogram'|capfirst %}</h2>
      </div>
      <div id="tags-container"
	   class="hidden-xs hidden-sm col-md-12 col-lg-6">
	<h2>{% trans 'tags'|capfirst %}
	  <small>
	    <div class="btn-group btn-group-xs pull-right"
		 data-toggle="buttons">
	      <label id="count-sort-btn" class="btn btn-default active">
		<input type="radio" name="sort" checked>
		{% trans 'count'|capfirst %}
	      </label>
	      <label id="amount-sort-btn" class="btn btn-default">
		<input type="radio" name="sort">
		{% trans 'amount'|capfirst %}
	      </label>
	    </div>
	  </small>
	</h2>
      </div>
  </div>
  {% else %}
  <div class="alert alert-warning">
    {% blocktrans with date=year|date:'Y' %}No expenditures found in {{ date }}!{% endblocktrans %}
  </div>
  {% endif %}
</div>
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
<script src="{% static 'js/d3.min.js' %}"></script>
<script src="{% static 'js/d3-layout.cloud.js' %}"></script>
<script src="{% static 'js/graph.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    Tracker.activateParent('report');
    Tracker.focus('add-btn');
    buildTagCloud('{% url 'tracker:tags' %}');
  });
</script>
{% endblock scripts %}
