{% extends "tracker/base.html" %}
{% load i18n tracker_extras table humanize %}
{% block content %}
{% is_current_month month as is_current %}
{% is_current_month next_month as is_next_current %}
<div id="main">
  <ul id="toolbar" class="left small">
    <li class="left">
      <a href="#" 
	 onclick="Tracker.toggle_menu('browse_menu')"
	 title='{% trans "Browse other months expenditures" %}'>
	{% trans "browse"|capfirst %}
      </a>
      <ul id="browse_menu" class="menu">
	<li class="left">
	  <a href='{% archive_url previous_month %}'
	     title='{% trans "View previous month expenditures" %}'>
	    {% trans "previous month"|capfirst %}
	  </a>
	</li>{% if not is_current %}
	<li class="left">
	  <a href={% url "tracker:list" %}
	     title='{% trans "View current month expenditures" %}'>
	    {% trans "current month"|capfirst %}
	  </a>
	</li>
	<li class="left">
	  {% if not is_next_current %}
	  <a href='{% archive_url next_month %}'
	     title='{% trans "View next month expenditures" %}'>
	    {% trans "next month"|capfirst %}
	  </a>
	</li>{% endif %}{% endif %}
      </ul>
    </li>
    <li class="left">
      <a id="add-expenditure" href={% url "tracker:add" %}
	 title='{% trans "Add a new expenditure" %}'>
	{% trans "add"|capfirst %}
      </a>
    </li>
  </ul>
  <p>
  </p>{% if expenditures %}{% if is_current %}
  <p>
    {% blocktrans with date=month|date:"YEAR_MONTH_FORMAT" total=total_amount|floatformat:2 user=user_amount|floatformat:2 %}In {{ date }}, the current amount of expenditures is equal to {{ total }}€; You authored {{ user }}€.{% endblocktrans %}
  </p>{% else %}
  <p>
    {% blocktrans with date=month|date:"YEAR_MONTH_FORMAT" total=total_amount|floatformat:2 user=user_amount|floatformat:2 %}In {{ date }}, the total amount of expenditures was equal to {{ total }}€; You authored {{ user }}€.{% endblocktrans %}
  </p>
  {% endif %}
  <table id="expenditures-table">
    <caption class="small">{% blocktrans with date=month|date:"YEAR_MONTH_FORMAT" %}Expenditures of {{ date }}.{% endblocktrans %}</caption>
    {% table_header field_names %}
    <tfoot class="small">
      <tr>
	<td colspan=4>
	  {% trans "page:"|capfirst %} {% pagination %}
	</td>
      </tr>
    </tfoot>
    <tbody>{% for obj in object_list %}
      <tr class={% cycle "odd" "even" %}>
	<td title="{{ obj.date|date:'DATE_FORMAT' }}" class="date">
	  {{ obj.date|naturalday:"l j" }}
	</td>
	<td title="{{ obj.amount|floatformat:2 }}" class="amount">
	  {{ obj.amount|floatformat:2 }}
	</td>{% with user=obj.author %}
	<td title="{% firstof user.first_name user.username %}" class="author">
	  {% firstof user.first_name user.username %}
	</td>{% endwith %}
	<td title="{{ obj.description|capfirst }}" class="description">
	  {{ obj.description|capfirst }}
	</td>
      </tr>{% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>
    {% blocktrans with date=month|date:"YEAR_MONTH_FORMAT" %}No expenditures found for {{ date }}!{% endblocktrans %}{% if is_current %}
    <a id="add-expenditure" href={% url "tracker:add" %}>{% blocktrans %}Add a new expenditure...{% endblocktrans %}</a>{% endif %}
  </p>
  {% endif %}
</div>{% endblock %}
{% block scripts %}
{{ block.super }}
<script type="text/javascript">
    document.getElementById('add-expenditure').focus();
    Tracker.toggle_menu = function(id) {
        var node = document.getElementById(id);
        if (node) {
            if (node.style.visibility == 'hidden') {
                node.style.visibility = 'visible';
            } else {
                node.style.visibility = 'hidden';
            }
        }
    }
</script>
{% endblock %}
