{% extends 'tracker/base.html' %}
{% load i18n %}

{% block parameters %}
<ul class="nav navbar-nav navbar-right">
  {% include 'tracker/nav_parameters.html' %}
</ul>
{% endblock parameters %}

{% block header %}
<h2>
{% if expenditure %}
{% trans 'edit expenditure'|capfirst %}
{% else %}
{% trans 'add expenditure'|capfirst %}
{% endif %}
</h2>
{% endblock %}

{% block content %}
<form id="expenditure-form" class="form-horizontal"
      role="form"
      action="" method="post">{% csrf_token %}
  {% include 'tracker/form_errors.html' %}
  {% include 'tracker/fieldset.html' %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="{% trans 'save'|capfirst %}"
	     class="btn btn-default">
      {% if expenditure %}
      {% trans 'or' %} <a href="{% url 'tracker:delete' expenditure.pk %}">
	{% trans 'delete' %}
      </a>
      {% endif %}
    </div>
  </div>
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  Tracker.focus('id_amount');
<!--   Tracker.listenToTags('id_description'); -->
</script>
{% endblock %}
