{% extends 'tracker/base.html' %}
{% load i18n tracker_extras table humanize %}
{% block content %}
{% is_current_month month as is_current %}
<div id="main">
  <ul id="toolbar" class="small left menu-container">
    <li class="left">
      <a id="add-expenditure" href="{% url 'tracker:add' %}"
	 title="{% trans 'add expenditure'|capfirst %}">
	{% trans 'add'|capfirst %}
      </a>
    </li>
    <li class="left">
      <a id="previous" href="{% url 'tracker:tags' previous_month.year previous_month.month %}"
	 title="{% trans 'View previous month tags' %}">
	{% trans 'previous'|capfirst %}
      </a>
    </li>
    <li class="left">
      <a id="next" href="{% url 'tracker:tags' next_month.year next_month.month %}"
	 title="{% trans 'View next month tags' %}">
	{% trans 'next'|capfirst %}
      </a>
    </li>
    <li class="left first-choice">
      <a id="details" href="{% url 'tracker:archive' month.year month.month %}"
	 title="{% trans 'View expenditures details' %}">
	{% trans 'details'|capfirst %}
      </a>
    </li>
    <li class="left selected middle-choice">
      <a id="tags" href="{% url 'tracker:tags' month.year month.month %}"
	 title="{% trans 'View month tags' %}">
	{% trans 'tags'|capfirst %}
      </a>
    </li>
    <li class="left last-choice">
      <a id="report" href="{% url 'tracker:summary' month.year %}"
	 title="{% trans 'View yearly report' %}">
	{% trans 'report'|capfirst %}
      </a>
    </li>
    {% include 'tracker/filter.html' %}
  </ul>
  {% if tags %}
  <p>
    {% if is_current %}
    {% blocktrans %}The following table summarizes the expenditures tags of the current month.{% endblocktrans %}
    {% else %}
    {% blocktrans with date=month|date:'YEAR_MONTH_FORMAT' %}The following table summarizes the expenditures tags for {{ date }}.{% endblocktrans %}
    {% endif %}
  </p>
  <table id="expenditures-table">
    <caption class="small">
      {% blocktrans with date=month|date:'YEAR_MONTH_FORMAT' %}Tags for {{ date }}.{% endblocktrans %}
    </caption>
    <thead class="small">
      <tr>
	<th class="name">
	  {% trans 'name'|capfirst %}
	</th>
	<th class="amount">
	  {% trans 'amount'|capfirst %}
	</th>
      </tr>
    </thead>
    {% table_footer field_names %}
    <tbody>
      {% for a in tags %}
      <tr class={% cycle 'odd' 'even' %}>
	<td title="{{ a.name|capfirst }}">
	  <a href="{% url 'tracker:archive' year=month.year month=month.month %}?filter={{ a.name }}">
	    {{ a.name|capfirst }}
	  </a>
	</td>
	<td title="{{ a.amount|floatformat:2 }}" class="amount">
	  {{ a.amount|floatformat:2 }}
	</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>
    {% blocktrans with date=month|date:'YEAR_MONTH_FORMAT' %}No expenditures found in {{ date }}!{% endblocktrans %}
  </p>
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  {% if filter %}
  Tracker.focus('id_filter');
  {% else %}
  Tracker.focus('add-expenditure');
  {% endif %}
</script>
{% endblock %}
