{% extends 'tracker/base.html' %}
{% load i18n tracker_extras table humanize %}
{% is_current_year year as is_current %}

{% block tools %}
<li>
  <a id="add-expenditure" href="{% url 'tracker:add' %}"
     title="{% trans 'Add a new expenditure' %}">
    {% trans 'add'|capfirst %}
  </a>
</li>
<li>
  <a id="share-purse" href="{% url 'tracker:purse_share' %}"
     title="{% trans 'Share purse with other users' %}">
    {% trans 'share'|capfirst %}
  </a>
</li>
{% endblock tools %}

{% block navigate %}
<li>
  <a id="previous" 
     href="{% url 'tracker:summary' previous_year.year %}"
     title="{% trans 'View previous report' %}">
    {% trans 'previous'|capfirst %}
  </a>
</li>
<li>
  <a id="next" 
     href="{% url 'tracker:summary' next_year.year %}"
     title="{% trans 'View next report' %}">
    {% trans 'next'|capfirst %}
  </a>
</li>
{% endblock navigate %}

{% block parameters %}
<ul class="nav navbar-nav navbar-right">
  {% include 'tracker/nav_parameters.html' %}
</ul>
{% endblock parameters %}

{% block header %}
<h2>{% blocktrans with date=year|date:'Y' %}Report for {{ date }}{% endblocktrans %}</h2>
{% endblock %}

{% block content %}
<div id="main">
  {% if amounts %}
  <p>
    {% if is_current %}
    {% blocktrans %}The following table outlines your expenditures for the current year.{% endblocktrans %}
    {% else %}
    {% blocktrans with date=year|date:'Y' %}The following table outlines your expenditures for {{ date }}.{% endblocktrans %}
    {% endif %}
  </p>
  <div class="table-responsive">
    <table class="table table-hover table-bordered table-striped">
      <thead>
	<tr>
	  <th class="month">
	    {% trans 'month'|capfirst %}
	  </th>
	  <th class="amount">
	    {% trans 'amount'|capfirst %}
	  </th>
	  {% if shared_purse %}
	  <th class="average">
	    {% trans 'average'|capfirst %}
	  </th>
	  <th class="delta">
	    {% trans 'delta'|capfirst %}
	  </th>
	  {% endif %}
	</tr>
      </thead>
      <tbody>
	{% for a in amounts %}
	<tr>
	  <td title="{{ a.month|date:'F'|capfirst }}">
	    <a href="{% url 'tracker:archive' year=year.year month=a.month.month %}">
	      {{ a.month|date:'F'|capfirst }}
	    </a>
	  </td>
	  <td title="{{ a.amount|floatformat:2 }}" class="amount">
	    {{ a.amount|floatformat:2 }}
	  </td>
	  {% if shared_purse %}
	  <td title="{{ a.average|floatformat:2 }}" class="average">
	    {{ a.average|floatformat:2 }}
	  </td>
	  <td title="{{ a.delta|floatformat:2 }}" class="delta">
	    {{ a.delta|floatformat:2 }}
	  </td>
	  {% endif %}
	</tr>
	{% endfor %}
	<tr class="total">
	  <td>
	    {% trans 'totals'|capfirst %}
	  </td>
	  <td title="{{ totals.amount|floatformat:2 }}" class="amount">
	    {{ totals.amount|floatformat:2 }}
	  </td>
	  {% if shared_purse %}
	  <td title="{{ totals.average|floatformat:2 }}" class="average">
	    {{ totals.average|floatformat:2 }}
	  </td>
	  <td title="{{ totals.delta|floatformat:2 }}" class="delta">
	    {{ totals.delta|floatformat:2 }}
	  </td>
	  {% endif %}
	</tr>
      </tbody>
    </table>
  </div>
  {% else %}
  <p>
    {% blocktrans with date=year|date:'Y' %}No expenditures found in {{ date }}!{% endblocktrans %}
  </p>
  {% endif %}
</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript">
  Tracker.focus('add-expenditure');
</script>
{% endblock scripts %}
