{% extends 'tracker/base.html' %}
{% load i18n tracker_extras table humanize static %}
{% is_current_year year as is_current %}

{% block style %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/graph.css' %}">
{% endblock style %}

{% block tools %}
<li>
  <a id="add-expenditure" href="{% url 'tracker:add' %}"
     title="{% trans 'add expenditure'|capfirst %}">
    {% trans 'add'|capfirst %}
  </a>
</li>
{% endblock tools %}

{% block navigate %}
<li>
  <a id="previous" 
     href="{% url 'tracker:summary' previous_year.year %}"
     title="{% trans 'View previous report' %}">
    {% trans 'previous'|capfirst %}
  </a>
</li>
<li>
  <a id="next" 
     href="{% url 'tracker:summary' next_year.year %}"
     title="{% trans 'View next report' %}">
    {% trans 'next'|capfirst %}
  </a>
</li>
{% endblock navigate %}

{% block parameters %}
<ul class="nav navbar-nav navbar-right">
  {% include 'tracker/nav_parameters.html' %}
</ul>
{% endblock parameters %}

{% block header %}
<h2>
  {% blocktrans with date=year|date:'Y' %}Report for {{ date }}{% endblocktrans %}
  {% if amounts %}
  <a class="hidden-xs"
     data-toggle="modal" 
     data-target="#graph-modal">
    <span class="glyphicon glyphicon-stats">
    </span>
  </a>
  {% endif %}
</h2>
{% endblock header %}

{% block content %}
<div id="main">
  {% if amounts %}
  <p>
    {% if is_current %}
    {% blocktrans %}The following table outlines your expenditures for the current year.{% endblocktrans %}
    {% else %}
    {% blocktrans with date=year|date:'Y' %}The following table outlines your expenditures for {{ date }}.{% endblocktrans %}
    {% endif %}
  </p>
  <div class="table-responsive">
    <table class="table table-hover table-bordered table-striped">
      <thead>
	<tr>
	  <th class="month">
	    {% trans 'month'|capfirst %}
	  </th>
	  <th class="amount">
	    {% trans 'amount'|capfirst %}
	  </th>
	  {% if shared_purse %}
	  <th class="average">
	    {% trans 'average'|capfirst %}
	  </th>
	  <th class="delta">
	    {% trans 'delta'|capfirst %}
	  </th>
	  {% endif %}
	</tr>
      </thead>
      <tbody>
	{% for a in amounts %}
	<tr>
	  <td title="{{ a.month|date:'F'|capfirst }}" class="month">
	    <a class="month-anchor" 
	       href="{% url 'tracker:archive' year=year.year month=a.month.month %}">
	      {{ a.month|date:'F'|capfirst }}
	    </a>
	  </td>
	  <td title="{{ a.amount|floatformat:2 }}" class="amount">
	    {{ a.amount|floatformat:2 }}
	  </td>
	  {% if shared_purse %}
	  <td title="{{ a.average|floatformat:2 }}" class="average">
	    {{ a.average|floatformat:2 }}
	  </td>
	  <td title="{{ a.delta|floatformat:2 }}" class="delta">
	    {{ a.delta|floatformat:2 }}
	  </td>
	  {% endif %}
	</tr>
	{% endfor %}
	<tr class="total">
	  <td>
	    {% trans 'totals'|capfirst %}
	  </td>
	  <td title="{{ totals.amount|floatformat:2 }}" class="amount">
	    {{ totals.amount|floatformat:2 }}
	  </td>
	  {% if shared_purse %}
	  <td title="{{ totals.average|floatformat:2 }}" class="average">
	    {{ totals.average|floatformat:2 }}
	  </td>
	  <td title="{{ totals.delta|floatformat:2 }}" class="delta">
	    {{ totals.delta|floatformat:2 }}
	  </td>
	  {% endif %}
	</tr>
      </tbody>
    </table>
  </div>
  {% else %}
  <p>
    {% blocktrans with date=year|date:'Y' %}No expenditures found in {{ date }}!{% endblocktrans %}
  </p>
  {% endif %}
</div>
<div class="modal fade" id="graph-modal" 
     tabindex="-1" role="dialog" 
     aria-labelledby="graph-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="graph-modal-label">
	  {% blocktrans with date=year|date:'Y' %}Graph for {{ date }}{% endblocktrans %}	  
	</h4>
      </div>
      <div class="modal-body" id="graph-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" 
		data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/d3.min.js' %}"></script>
<script src="{% static 'js/graph.js' %}"></script>
<script type="text/javascript">
  Tracker.focus('add-expenditure');
</script>
{% endblock scripts %}
