{% extends 'tracker/base_authentified.html' %}
{% load i18n %}

{% block header %}
<h2>{% trans 'expenditure deletion'|capfirst %}</h2>
{% endblock %}

{% block content %}
<p>{% blocktrans with amount=expenditure.amount|floatformat:2 description=expenditure.description %}Confirm the deletion of the {{ amount }}€ expenditure described as follows: <q>{{ description }}</q>.{% endblocktrans %}
<form id="expenditure-form " class="form-horizontal"
      role="form"
      action="" method="post">{% csrf_token %}
  {% include 'tracker/form_errors.html' %}
  <div class="form-group">
    <div class="col-sm-10">
      <input type="submit" value="{% trans 'delete'|capfirst %}"
	     class="btn btn-primary">
    </div>
  </div>
</form>
{% endblock content %}
