{% extends 'tracker/base.html' %}
{% load i18n tracker_extras table humanize %}
{% is_current_month month as is_current %}

{% block tools %}
<li>
  <a id="add-expenditure" href="{% url 'tracker:add' %}"
     title="{% trans 'add expenditure'|capfirst %}">
    {% trans 'add'|capfirst %}
  </a>
</li>
{% endblock tools %}

{% block navigate %}
<li>
  <a id="previous" 
     href="{% url 'tracker:archive' previous_month.year previous_month.month %}"
     title="{% trans 'View previous month expenditures' %}">
    {% trans 'previous'|capfirst %}
  </a>
</li>
<li>
  <a id="next" 
     href="{% url 'tracker:archive' next_month.year next_month.month %}"
     title="{% trans 'View next month expenditures' %}">
    {% trans 'next'|capfirst %}
  </a>
</li>
<li>
  <a id="report" 
     href="{% url 'tracker:summary' next_month.year %}"
     title="{% trans 'View yearly report' %}">
    {% trans 'report'|capfirst %}
  </a>
</li>
{% endblock navigate %}

{% block filter %}
{% include 'tracker/nav_filter.html' %}
{% endblock filter %}

{% block parameters %}
<ul class="nav navbar-nav navbar-right">
  {% include 'tracker/nav_parameters.html' %}
</ul>
{% endblock parameters %}

{% block header %}
<h2>{{ month|date:'YEAR_MONTH_FORMAT'|capfirst }}</h2>
{% endblock %}

{% block content %}
<div id="main">
  {% if expenditures %}
  <p>
    {% if is_current %}
    {% blocktrans with date=month|date:'YEAR_MONTH_FORMAT' total=total_amount|floatformat:2 %}In {{ date }}, the current amount of expenditures is equal to {{ total }}€.{% endblocktrans %}
    {% else %}
    {% blocktrans with date=month|date:'YEAR_MONTH_FORMAT' total=total_amount|floatformat:2 %}In {{ date }}, the total amount of expenditures was equal to {{ total }}€.{% endblocktrans %}
    {% endif %}
    {% if user_amount and shared_purse %}
    {% blocktrans with user=user_amount|floatformat:2 %}You authored {{ user }}€.{% endblocktrans %}
    {% endif %}
  </p>
  <div class="table-responsive">
    <table class="table table-hover table-bordered table-striped">
      {% table_header field_names %}
      <tbody>
	{% for e in expenditures %}
	<tr>
	  <td title="{{ e.date|date:'DATE_FORMAT' }}" class="date">
	    {{ e.date|naturalday:'l j' }}
	  </td>
	  <td title="{{ e.amount|floatformat:2 }}" class="amount">
	    {{ e.amount|floatformat:2 }}
	  </td>
	  {% with user=e.author %}
	  <td title="{% firstof user.first_name user.username %}" class="author">
	    {% firstof user.first_name user.username %}
	  </td>
	  {% endwith %}
	  <td title="{{ e.description|capfirst }}" class="description">
	    {{ e.description|capfirst }}
	    {% if user.username == e.author.username and e.is_editable %}
	    <a href="{% url 'tracker:update' e.pk %}"
	       title="{% blocktrans count days=edit_delay %}Your expenditures can be updated the day of their creation{% plural %}Your expenditures can be updated for {{ days }} days after their creation{% endblocktrans %}">
	      <span class="badge pull-right">
		<span class="glyphicon glyphicon-pencil"></span>
	      </span>
	    </a>
	    {% endif %}
	  </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
    {% pagination %}
  </div>
  {% else %}
  <p>
    {% blocktrans with date=month|date:'YEAR_MONTH_FORMAT' %}No expenditures found for {{ date }}!{% endblocktrans %}
  </p>
  {% endif %}
</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript">
  {% if filter %}
  Tracker.focus('id_filter');
  {% else %}
  Tracker.focus('add-expenditure');
  {% endif %}
</script>
{% endblock scripts %}
