{% for field in form %}
<div class="form-group">
  <label for="id_{{ field.name }}">
    {{ field.label }}
  </label>
  {{ field }}
  {% if field.errors %}
  <span class="errors">
    {% for error in field.errors %}
    {{ error }}
    {% endfor %}
  </span>
  {% endif %}
  <br>
  <p class="help-block">
    {{ field.help_text|capfirst }}
  </span>
</div>
<!-- {% if tagnames and field.name == "description" and tagnames|length > 10 %} -->
<!-- <div class="tags"> -->
<!--   {% for name in tagnames %} -->
<!--   <a class="tag">{{ name }}</a> -->
<!--   {% endfor %} -->
<!-- </div> -->
<!-- {% endif %} -->
{% endfor %}
