{% for field in form %}
<div class="form-group{% if field.errors %} has-error{% endif %}">
  <label for="id_{{ field.name }}" 
	 class="col-sm-2 control-label">
    {{ field.label }}
  </label>
  <div class="col-sm-4">
    {{ field }}
    {% if field.errors %}
    <div class="help-block">
      {% for error in field.errors %}
      {{ error }}
      {% endfor %}
    </div>
    <div class="help-block">
      {{ field.help_text|capfirst }}
    </div>
    {% if field.name == 'description' and tagnames|length > 10 %}
    <div class="tags">
      {% for name in tagnames %}
      <a class="label label-default">{{ name }}</a>
      {% endfor %}
    </div>
    {% endif %}
    {% endif %}
  </div>
</div>
<!-- {% if tagnames and field.name == "description" and tagnames|length > 10 %} -->
<!-- <div class="tags"> -->
<!--   {% for name in tagnames %} -->
<!--   <a class="tag">{{ name }}</a> -->
<!--   {% endfor %} -->
<!-- </div> -->
<!-- {% endif %} -->
{% endfor %}
