{% extends 'tracker/base.html' %}
{% load i18n %}

{% block button %}
{% endblock button %}

{% block navbar %}
<div id="ribbon">
  <a class="ribbon" href="https://github.com/orontee/porte-monnaie">
    {% trans 'Fork me on GitHub!' %}
  </a>
</div>
{% endblock navbar %}

{% block messages %}
{% endblock messages %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="jumbotron">
  <h1>
    Porte-monnaie
  </h1>
  <p>
    {% blocktrans %}A web application for people to track and share their expenditures.{% endblocktrans %}
  </p>
  <p>
    <a class="btn btn-primary btn-lg"
       role="button" href="{% url 'tracker:user_creation' %}">
      {% trans 'create account'|capfirst %}
    </a>
    <a id="login-btn" class="btn btn-default btn-lg"
       role="button" href="{% url 'tracker:login' %}">
      {% trans 'login'|capfirst %}
    </a>
  </p>
</div>

<div id="main">
</div>
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
  $(document).ready(function() {
    Tracker.focus('login-btn');
  });
</script>
{% endblock scripts %}
