{% load i18n tracker_extras %}
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    {% trans 'parameters'|capfirst %}
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li class="dropdown-header">
      {% trans 'purse'|capfirst %}
    </li>
    <li>
      <a href="{% url 'tracker:purse_list' %}">
	{% trans 'manage purses'|capfirst %}
      </a>
    </li>
    <li>
      <a href="{% url 'tracker:purse_share' %}">
	{% trans 'share'|capfirst %}
      </a>
    </li>
    <li class="divider"></li>
    <li class="dropdown-header">
      {% trans 'account'|capfirst %}
    </li>
    <li>
      <a href="{% url 'tracker:user_change' %}">
	{% trans 'edit user data'|capfirst %}
      </a>
    </li>
    <li>
      <a href="{% url 'tracker:password_change' %}">
	{% trans 'change password'|capfirst %}
      </a>
    </li>
    <li>
      <a href="{% url 'tracker:logout' %}">
	{% trans 'log out'|capfirst %}
      </a>
    </li>
  </ul>
</li>
