{% extends 'tracker/base.html' %}
{% load i18n table %}
{% block content %}
<div id="main">
  <ul id="toolbar" class="left small menu-container">
    <li class="left">
      <a id="create-purse" href="{% url 'tracker:purse_creation' %}"
  	 title="{% trans 'Create a new purse' %}">
  	{% trans 'create'|capfirst %}
      </a>
    </li>
  </ul>
  <p>
    {% if purses %}
    {% blocktrans %}Here are the purses you belong to.{% endblocktrans %}
    <table id="purses-table">
      <caption class="small">
	{% trans 'Purses' %}
      </caption>
      {% table_header field_names %}
      {% table_footer field_names %}
      <tbody>
	{% for p in purses %}
	<tr class={% cycle 'odd' 'even' %}>
	  <td title="{{ p.name }}">
	    <a href="{% url 'tracker:purse_update' pk=p.id %}">
	      {{ p.name }}
	    </a>
	  </td>
	  <td title="{{ p.usernames }}">
	    {{ p.usernames }}
	  </td>
	  <td title="{{ p.description }}">
	    {{ p.description }}
	  </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
    {% else %}
    {% blocktrans %}You don't belong to any purse right now!{% endblocktrans %}
    <a href="{% url 'tracker:purse_creation' %}">
      {% blocktrans %}Create a new purse...{% endblocktrans %}
    </a>
    {% endif %}
  </p>
</div>
{% endblock %}
{% block scripts %}
{{ block.super }}
<script type="text/javascript">
  Tracker.focus('create-purse');
</script>
{% endblock %}
