{% extends 'tracker/base.html' %}
{% load i18n %}

{% block parameters %}
<ul class="nav navbar-nav navbar-right">
  {% include 'tracker/nav_parameters.html' %}
</ul>
{% endblock parameters %}

{% block header %}
<h2>
{% if purse %}
{% trans 'edit purse'|capfirst %}
{% else %}
{% trans 'add purse'|capfirst %}
{% endif %}
</h2>
{% endblock %}

{% block content %}
<form id="purse-form" class="form-horizontal"
      role="form"
      action="" method="post">{% csrf_token %}
  {% include 'tracker/form_errors.html' %}
  {% include 'tracker/fieldset.html' %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="{% trans 'save'|capfirst %}"
	     class="btn btn-primary">
    </div>
  </div>
</form>
{% if purse %}
<p>
  {% url 'tracker:purse_delete' purse as delete_url %}
  {% url 'tracker:purse_share' purse as share_url %}
  {% blocktrans %}You may also <a href="{{ delete_url }}">delete </a> or <a href="{{ share_url }}">share</a> this purse.{% endblocktrans %}
</p>
{% endif %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  Tracker.focus('id_name');
</script>
{% endblock %}
