{% extends 'tracker/base_authentified.html' %}
{% load i18n tracker_extras table %}

{% block parameters %}
<ul class="nav navbar-nav navbar-right">
  {% include 'tracker/nav_parameters.html' %}
</ul>
{% endblock parameters %}

{% block header_content %}
<h2>{% trans 'purse list'|capfirst %}</h2>
{% endblock header_content %}

{% block content %}
<div id="main">
  {% if purses %}
  <p>
    {% url 'tracker:purse_creation' as create_url %}
    {% blocktrans count counter=purses|length %}You have access to one purse.{% plural %}You have access to {{ counter }} purses.{% endblocktrans %}
    {% blocktrans %}You can <a href="{{ create_url }}">create new purses</a>.{% endblocktrans %}
  </p>
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      {% table_header field_names %}
      <tbody>
	{% for p in purses %}
	<tr>
	  <td>
	    {{ p.name }}
	  </td>
	  <td>
	    {{ p.usernames }}
	  </td>
	  <td>
	    {{ p.description|capfirst }}
	    {% if user.default_purse == p %}
	    <span class="badge pull-right">
	      <span class="glyphicon glyphicon-heart">
	      </span>
	    </span>
	    {% endif %}
	    <a href="{% url 'tracker:purse_update' pk=p.id %}">
	      <span class="badge pull-right">
		<span class="glyphicon glyphicon-pencil">
		</span>
	      </span>
	    </a>
	  </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
    {% pagination %}
  </div>
  {% else %}
  <p>
    {% blocktrans %}You don't belong to any purse right now!{% endblocktrans %}
    <a id="create-purse" href="{% url 'tracker:purse_creation' %}">
      {% blocktrans %}Create a new purse...{% endblocktrans %}
    </a>
  </p>
  {% endif %}
</div>
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
  $(document).ready(function() {
    Tracker.focus('create-purse');
  });
</script>
{% endblock scripts%}
