{% extends "tracker/base.html" %}
{% load i18n %}
{% block usertools %}{% endblock %}
{% block content %}
<h2>{% trans 'login'|capfirst %}</h2>
{% if form.errors %}<p class="errornote">
  {% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
</p>{% endif %}
<form  id="login-form"
       action={% url "tracker:login" %}
       method="post">{% csrf_token %}
  {% include "tracker/form_errors.html" %}
  {% include "tracker/fieldset.html" %}
  <input type="submit" value="{% trans 'log in'|capfirst %}">
</form>
{% endblock %} 
{% block scripts %}
{{ block.super }}
<script type="text/javascript">
  document.getElementById('id_username').focus();
</script>
{% endblock %}
