{% extends 'tracker/base.html' %}
{% load i18n %}

{% block header_content %}
<h2>{% trans 'logged out'|capfirst %}</h2>
{% endblock header_content %}

{% block content %}
<p>
  {% trans 'Thanks for spending some quality time with us today!' %}
</p>
<p>
  <a id="login-again" href="{% url 'tracker:login' %}">
    {% trans 'log in again'|capfirst %}
  </a>
</p>
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
  $(document).ready(function() {
    Tracker.focus('login-again');
  });
</script>
{% endblock scripts %}
