{% extends 'tracker/base.html' %}
{% load i18n %}

{% block header %}
<h2>{% trans 'login'|capfirst %}</h2>
{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<form  id="login-form" class="form-horizontal"
       role="form"
       action="{% url 'tracker:login' %}" method="post">{% csrf_token %}
  {% include 'tracker/form_errors.html' %}
  {% include 'tracker/fieldset.html' %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="{% trans 'log in'|capfirst %}"
	     class="btn btn-default">
    </div>
  </div>
</form>
<p>
  {% url 'tracker:user_creation' as the_url %}
  {% blocktrans %}Not yet registered? Jump to the <a href="{{ the_url }}">registration page</a>.{% endblocktrans %}
{% endblock %} 

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
  Tracker.focus('id_username');
</script>
{% endblock %}
