{% extends 'tracker/base.html' %}
{% load i18n %}

{% block header_content %}
<h2>{% trans 'login'|capfirst %}</h2>
{% endblock header_content %}

{% block content %}
<form  id="login-form" class="form-horizontal"
       role="form"
       action="{% url 'tracker:login' %}" method="post">{% csrf_token %}
  {% include 'tracker/form_errors.html' %}
  {% include 'tracker/fieldset.html' %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="{% trans 'log in'|capfirst %}"
	     class="btn btn-primary">
    </div>
  </div>
</form>
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
  $(document).ready(function() {
    Tracker.focus('id_username');
  });
</script>
{% endblock scripts %}
