{% extends 'tracker/base_authentified.html' %}
{% load i18n static %}

{% block parameters %}
<ul class="nav navbar-nav navbar-right">
  {% include 'tracker/nav_parameters.html' %}
</ul>
{% endblock parameters %}

{% block header_content %}
<h2>{% trans 'change password'|capfirst %}</h2>
{% endblock header_content %}

{% block content %}
<form id="change-password-form" class="form-horizontal"
      role="form"
      action="" method="post">{% csrf_token %}
  {% include 'tracker/form_errors.html' %}
  {% include 'tracker/fieldset.html' %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="{% trans 'save'|capfirst %}"
	     class="btn btn-primary">
    </div>
  </div>
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  Tracker.focus('id_old_password');
</script>
{% endblock %}
