{% extends 'tracker/base.html' %}
{% load i18n static %}

{% block header %}
<h2>{% trans 'account activated'|capfirst %}</h2>
{% endblock %}

{% block content %}
<p>
  {% blocktrans with username=key_user.username %}Congratulations! The user account {{ username }} has been activated.{% endblocktrans %} <a id="login" href="{% url 'tracker:login' %}">{% trans 'Go to the login page' %}</a>.
</p>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
  Tracker.focus('login');
</script>
{% endblock %}
