{% extends 'tracker/base_authentified.html' %}
{% load i18n static %}

{% block header_content %}
<h2>{% trans 'account parameters'|capfirst %}</h2>
{% endblock header_content %}

{% block content %}
<form id="user-change-form" class="form-horizontal"
      role="form"
      action="" method="post">{% csrf_token %}
  {% include 'tracker/form_errors.html' %}
  {% include 'tracker/fieldset.html' %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="{% trans 'save'|capfirst %}"
	     class="btn btn-primary">
    </div>
  </div>
</form>
<p>
  {% url 'tracker:password_change' as change_url %}
  {% blocktrans %}You may also <a href="{{ change_url }}">change your password</a>.{% endblocktrans %}
</p>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(document).ready(function() {
    var elt = document.getElementById('id_first_name') || document.getElementById('id_username');
    if (elt) {
      elt.focus();
    }
  });
</script>
{% endblock %}
