{% extends 'tracker/base.html' %}
{% load i18n static %}

{% block parameters %}
{% if user.username %}
<ul class="nav navbar-nav navbar-right">
  {% include 'tracker/nav_parameters.html' %}
</ul>
{% endif %}
{% endblock parameters %}

{% block header %}
<h2>
{% if user.username %}
{% trans 'account parameters'|capfirst %}
{% else %}
{% trans 'create account'|capfirst %}
{% endif %}
</h2>
{% endblock %}

{% block content %}
<form id="user-change-form" class="form-horizontal"
      role="form"
      action="" method="post">{% csrf_token %}
  {% include 'tracker/form_errors.html' %}
  {% include 'tracker/fieldset.html' %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="{% trans 'save'|capfirst %}"
	     class="btn btn-primary">
    </div>
  </div>
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  var elt = document.getElementById('id_first_name') || document.getElementById('id_username');
  if (elt) {
  elt.focus();
  }
</script>
{% endblock %}
