{% extends 'tracker/base_authentified.html' %}
{% load i18n %}

{% block header_content %}
<h2>{% trans 'user account deletion'|capfirst %}</h2>
{% endblock header_content %}

{% block content %}
<p>{% trans 'Confirm the deletion of your user account.' %}</p>
<p class="alert alert-info">{% trans 'In case you decide to delete your user account, note that your data will still be kept for 30 days. Just in case you change your mind...' %}</p>
<form id="user-form " class="form-horizontal"
      role="form"
      action="" method="post">{% csrf_token %}
  {% include 'tracker/form_errors.html' %}
  <div class="form-group">
    <div class="col-sm-10">
      <input id="delete-btn" type="submit" 
	     value="{% trans 'delete'|capfirst %}"
	     class="btn btn-primary">
      <a id="cancel-btn" 
	 href="{% url 'tracker:user_change' %}"
	 class="btn btn-default">
	{% trans 'cancel'|capfirst %}
      </a>
    </div>
  </div>
</form>
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
  $(document).ready(function() {
    Tracker.focus('cancel-btn');
  });
</script>
{% endblock scripts %}
