{% extends 'tracker/base.html' %}
{% load i18n static %}

{% block button %}
{% endblock button %}

{% block header_content %}
<h2>{% trans 'new password'|capfirst %}</h2>
{% endblock header_content %}

{% block content %}
<form id="set-password-form" class="form-horizontal"
      role="form"
      action="" method="post">{% csrf_token %}
  {% include 'tracker/form_errors.html' %}
  {% include 'tracker/fieldset.html' %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="{% trans 'save'|capfirst %}"
	     class="btn btn-primary">
    </div>
  </div>
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(document).ready(function () {
    Tracker.focus('id_email');
  });
</script>
{% endblock %}
