{% extends 'tracker/base.html' %}
{% load i18n static %}

{% block button %}
{% endblock button %}

{% block header_content %}
<h2>{% trans 'new password set'|capfirst %}</h2>
{% endblock header_content %}

{% block content %}
<p>
  {% blocktrans %}Your password has been changed.{% endblocktrans %} <a id="login" href="{% url 'tracker:login' %}">{% trans 'Go to login page' %}</a>.
</p>
{% endblock content %}

{% block scripts %}
<script type="text/javascript">
  $(document).ready(function() {
    Tracker.focus('login');
  });
</script>
{% endblock scripts %}
